*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
textarea{
    width: 500px;
    height:40rem;
    background-color: aquamarine;
    cursor:pointer;
}
#preview{
    width: 500px;
    height: 40rem;
    background-color: aquamarine;
    overflow-y: auto;
    padding: 20px;
}